/* You can add global styles to this file, and also import other style files */
/* General Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Container */
  .container {
    width: 80%;
    margin: auto;
    overflow: hidden;
  }
  
  /* Form Styling */
  form {
    max-width: 500px;
    margin: auto;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
  }
  
  form div + div {
    margin-top: 1em;
  }
  
  label {
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input, textarea {
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
  }
  
  input:focus, textarea:focus {
    border-color: #000;
  }
  
  textarea {
    vertical-align: top;
    height: 5em;
  }
  
  .button {
    padding-left: 90px;
  }
  
  button {
    margin-left: .5em;
  }
  
  /* Responsive Design */
  @media (max-width: 600px) {
    .container {
      width: 100%;
      padding: 0;
    }
  
    form {
      width: 100%;
      border: 0;
    }
  
    label {
      width: 100%;
      text-align: left;
    }
  
    input, textarea {
      width: 100%;
    }
  
    .button {
      text-align: center;
    }
  }